- content_for :right_column do
  = render :partial => 'admin/cms/files/index'

= render 'admin/cms/partials/snippet_form_before', :object => form

= form.text_field :label, :data => {:slugify => @snippet.new_record?}
= form.text_field :identifier, :data => {:slug => true}
= form.text_area :content, :data => {'cms-cm-mode' => 'text/html'}

= render :partial => 'admin/cms/categories/form', :object => form

= render 'admin/cms/partials/snippet_form_after', :object => form

.form-actions
  = form.submit t(@snippet.new_record?? '.create' : '.update'), :class => 'btn btn-primary'