.page-header
  = link_to pluralize(@page.revisions.count, t('.revision')), admin_cms_site_page_revisions_path(@site, @page), :class => 'btn pull-right'
  %h2= t('.title')

- content_for :right_column do
  = render 'admin/cms/sites/mirrors', :object => @page

= comfy_form_for @page, :as => :page, :url => {:action => :update}, :html => {:multipart => true} do |form|
  = render form
