= render 'admin/cms/partials/file_form_before', :object => form

= form.text_field :label
= form.file_field :file, :multiple => @file.new_record?

- unless @file.new_record?
  = form.element t('.current_file') do
    = image_tag @file.file.url if @file.is_image?
    = link_to @file.file.url, @file.file.url, :target => '_blank'

= form.text_area :description

= render :partial => 'admin/cms/categories/form', :object => form

= render 'admin/cms/partials/file_form_after', :object => form

.form-actions
  = form.submit t(@file.new_record?? '.create' : '.update'), :class => 'btn btn-primary'
