- content_for :right_column do
  .box.revisions
    = link_to t('.revision', count: @page.revisions.count), comfy_admin_cms_site_page_revisions_path(@site, @page), class: 'btn btn-info d-block'

  .box.translations
    = link_to t(".translation.create"), new_comfy_admin_cms_site_page_translation_path(@site, @page), class: "btn btn-secondary d-block mb-1"

    - @page.translations.each do |translation|
      .btn-group.btn-group-sm.d-flex.mb-1

        - url = edit_comfy_admin_cms_site_page_translation_path(@site, @page, translation)
        - name = "(#{translation.locale}) #{translation.label}"
        = link_to name, url, class: "translation btn btn-outline-light w-100 text-primary"

        - url = comfy_admin_cms_site_page_translation_path(@site, @page, translation)
        = link_to t(".translation.delete"), url, method: :delete, data: {confirm: t(".translation.confirm")}, class: "btn btn-danger"

.page-header
  %h2= t('.title')

= comfy_form_for @page, as: :page, url: {action: :update}, html: {multipart: true} do |form|
  = render form
