.page-header
  = link_to t('.new_link'), new_comfy_admin_cms_site_page_path(@site), :class => 'btn btn-default pull-right'
  %div.btn.pull-right
    = form_tag(comfy_admin_cms_site_pages_path, method: "get", id: "search-form") do
      = text_field_tag(:search, params[:search], placeholder: "Search by label")
      = submit_tag("Search", name: nil)

  %h2= t('.title')

- content_for :right_column do
  = render 'comfy/admin/cms/sites/mirrors'

= render 'comfy/admin/cms/partials/pages_before'

= render :partial => 'comfy/admin/cms/categories/index', :object => 'Comfy::Cms::Page'

%ul.list.sortable
  = render :partial => 'index_branch', :collection => @pages

= render 'comfy/admin/cms/partials/pages_after'
