= comfy_admin_partial "comfy/admin/cms/partials/site_form_before", form: form

= form.text_field :label, data: {slugify: @site.new_record?}
= form.text_field :identifier, data: {slug: true}
= form.text_field :hostname
= form.text_field :path

- locales = ComfortableMexicanSofa.config.locales.to_a.collect{|l| ["#{l[1]} (#{l[0]})", l[0]]}
= form.select :locale, locales, bootstrap: {custom_control: true}

= comfy_admin_partial "comfy/admin/cms/partials/site_form_after", form: form

= form.form_actions do
  = submit_tag t(@site.new_record? ? ".create" : ".update"), class: "btn btn-primary"
  = link_to t(".cancel"), comfy_admin_cms_sites_path, class: "btn btn-link"
