.page-header
  = link_to t('.new_link'), new_comfy_admin_cms_site_path, class: "btn btn-secondary float-right"
  %h2= t('.title')

= comfy_admin_partial "comfy/admin/cms/partials/sites_before"

%ul.list
  - @sites.each do |site|
    %li
      .row
        .col-md-8.item
          .item-content
            .item-title
              = link_to site.label, comfy_admin_cms_site_pages_path(site)
            .item-meta
              .identifier
                = site.identifier
                = "(#{site.locale})"
              .host
              = link_to site.url, site.url, target: '_blank'

        .col-md-4.d-flex.align-items-center.justify-content-md-end
          .btn-group.btn-group-sm
            = link_to t('.select'),  comfy_admin_cms_site_pages_path(site), class: 'btn btn-outline-secondary'
            = link_to t('.edit'), edit_comfy_admin_cms_site_path(site), class: 'btn btn-outline-secondary'
            = link_to t('.delete'), comfy_admin_cms_site_path(site), method: :delete, data: {confirm: t('.are_you_sure')}, class: 'btn btn-danger'

= comfy_admin_partial "comfy/admin/cms/partials/sites_after"
