%body#comfy{class: "c-#{params[:controller].parameterize} a-#{params[:action].parameterize}"}

  .container-fluid
    .row
      #cms-left.col-lg-2.bg-dark
        = render "layouts/comfy/admin/cms/left"
      #cms-main.col-lg-8.m-auto
        = render "layouts/comfy/admin/cms/flash"
        = yield
        = render 'comfy/admin/cms/files/modal' if @site && !@site.new_record?
      #cms-right.col-lg-2
        = render 'layouts/comfy/admin/cms/right'

  = render "layouts/comfy/admin/cms/footer_js"
