%body#comfy{:class => "c-#{params[:controller].slugify} a-#{params[:action].slugify}"}

  .container-fluid
    .row
      %nav#cms-sidebar.col-lg-2
        = render "layouts/comfy/admin/cms/left"
      %main.col-lg-10.ml-auto
        = render "layouts/comfy/admin/cms/flash"
        = yield
        = render "layouts/comfy/admin/cms/footer"

  = render "layouts/comfy/admin/cms/footer_js"

  / = render 'comfy/admin/cms/partials/body_before'

