%head
  %title= ComfortableMexicanSofa.config.cms_title

  %meta{"http-equiv" => "Content-type", content: "text/html; charset=utf-8"}
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

  = csrf_meta_tag

  = stylesheet_link_tag     'comfy/admin/cms/application', 'data-turbolinks-track' => true

  = yield :head

  = render 'comfy/admin/cms/partials/html_head'
