%h2= @cms_snippet.new_record? ? "New Snippet" : "Editing \"#{@cms_snippet.label}\""
= render :partial => 'cms_admin/flash_message'
= f.error_messages
.form_element_group.horizontal
  = f.text_field :label, :label => "Snippet Name"
  = f.text_area :content
.submit
  = f.submit 'Save All Changes', :onclick => 'this.f.target = ""'
  or 
  = link_to 'Return to List', cms_admin_snippets_path
