<%= link_to span_tag(t('.new_link')), new_cms_admin_site_snippet_path(@site), :class => 'big button' %>
<h1><%= t('.title')%></h1>

<% content_for :right_column do %>
  <%= render :partial => 'cms_admin/sites/mirrors' %>
<% end %>

<ul class='list'>
  <% @snippets.each do |snippet| %>
    <li id='cms_snippet_<%= snippet.id %>'>
      <div class='item'>
        <div class='icon'></div>
        <div class='action_links'>
          <%= link_to t('.edit'), edit_cms_admin_site_snippet_path(@site, snippet) %>
          <%= link_to t('.delete'), cms_admin_site_snippet_path(@site, snippet), :method => :delete, :confirm => t('.are_you_sure') %>
        </div>
        <div class='label'>
          <%= link_to snippet.label, edit_cms_admin_site_snippet_path(@site, snippet) %>
          <div class='sublabel'>
            <%= link_to snippet.slug, edit_cms_admin_site_snippet_path(@site, snippet) %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
