%body#comfy{:class => "c-#{params[:controller].slugify} a-#{params[:action].slugify}"}
  = cms_hook :header

  .body-wrapper
    .left-column
      .left-column-content
        = render :partial => 'layouts/cms_admin/left'
    .right-column
      .right-column-content
        = render :partial => 'layouts/cms_admin/right'
    .center-column
      = render :partial => 'layouts/cms_admin/center'
      
      = render :partial => 'layouts/cms_admin/footer'
  
  = render :partial => 'layouts/cms_admin/footer_js'