<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= ComfortableMexicanSofa.config.cms_title %></title>
  <%= csrf_meta_tag %>
  
  <meta name="cms-admin-path" content="<%= ComfortableMexicanSofa.config.admin_route_prefix %>" />
  <meta name="cms-locale" content="<%= I18n.locale %>" />
  <meta name="cms-site-id" content="<%= @site.try(:id) %>"/>
  
  <% if ComfortableMexicanSofa.asset_pipeline_enabled? %>
    
    <%= stylesheet_link_tag 'comfortable_mexican_sofa/application' %>
    <%= javascript_include_tag 'comfortable_mexican_sofa/application' %>
    
  <% else %>
    
    <%= stylesheet_link_tag 'comfortable_mexican_sofa/reset',
                            'comfortable_mexican_sofa/structure',
                            'comfortable_mexican_sofa/typography',
                            'comfortable_mexican_sofa/form',
                            'comfortable_mexican_sofa/content',
                            'comfortable_mexican_sofa/files',
                            'comfortable_mexican_sofa/elrte',
                            'comfortable_mexican_sofa/codemirror',
                            'comfortable_mexican_sofa/jquery_ui',
                            'comfortable_mexican_sofa/dialogs',
                            'comfortable_mexican_sofa/widgets' %>
    <%= javascript_include_tag  'comfortable_mexican_sofa/jquery',
                                'comfortable_mexican_sofa/jquery_ui',
                                'comfortable_mexican_sofa/jquery_ui_timepicker',
                                'comfortable_mexican_sofa/rails',
                                'comfortable_mexican_sofa/codemirror/codemirror',
                                'comfortable_mexican_sofa/elrte/elrte',
                                'comfortable_mexican_sofa/elrte/elrte.codemirror',
                                'comfortable_mexican_sofa/elrte/elrte.sofa_image',
                                'comfortable_mexican_sofa/elrte/elrte.sofa_link',
                                'comfortable_mexican_sofa/application' %>
                                
  <% end %>
  
  <%= yield :head %>
  <%= cms_hook :html_head %>
</head>
