- layout      ||= index_branch
- has_siblings  = layout.siblings.select{|l| l.site_id == @site.id}.size > 0

%li{:id => dom_id(layout)}
  .item
    .icon
      - if !params[:category].present? && has_siblings
        .dragger
          %span &#8645;
          
    .btn-group
      = link_to t('.add_child_layout'), new_admin_cms_site_layout_path(@site, :parent_id => layout.id), :class => 'btn btn-small'
      = link_to t('.edit'), edit_admin_cms_site_layout_path(@site, layout), :class => 'btn btn-small'
      = link_to t('.delete'), admin_cms_site_layout_path(@site, layout), :method => :delete, :data => {:confirm => t('.are_you_sure')}, :class => 'btn btn-small btn-danger'
    
    .item-content
      .item-title
        = link_to layout.label, edit_admin_cms_site_layout_path(@site, layout)
      .item-meta
        = layout.identifier

  - if layout.children.present?
    %ul= render :partial => 'index_branch', :collection => layout.children
