.page-header
  = link_to pluralize(@layout.revisions.count, t('.revision')), admin_cms_site_layout_revisions_path(@site, @layout), :class => 'btn pull-right'
  %h2= t('.title')

- content_for :right_column do
  = render 'admin/cms/sites/mirrors', :object => @layout

= comfy_form_for @layout, :as => :layout, :url => {:action => :update} do |form|
  = render form
