- object = form.object
- if (categories = @site.categories.of_type(object.class.to_s)).present?
  = form.element t('.label'), nil, :class => 'categories' do
    - categories.each do |category|
      = hidden_field_tag "#{object.class.to_s.demodulize.underscore.downcase}[category_ids][#{category.id}]", 0, :id => nil
      %label.checkbox.inline
        = check_box_tag "#{object.class.to_s.demodulize.underscore.downcase}[category_ids][#{category.id}]", 1, object.categories.member?(category), :id => nil
        = category.label