<%= form.text_field :label, :id => (@cms_page.new_record?? 'slugify' : nil) %>

<div class='page_form_extras'>
  <%= form.text_field :slug, :id => 'slug' %>
  <%= form.select :cms_layout_id, CmsLayout.options_for_select, {}, 'data-page-id' => @cms_page.id.to_i, :label => 'Layout' %>
  <%= form.select :parent_id, CmsPage.options_for_select(@cms_page) %>
</div>

<%= render :partial => 'form_blocks' %>

<% content_for :right_column do %>
  <h2>Uploads</h2>
  <%= render :partial => 'cms_admin/uploads/index' %>
<% end %>