- content_for :right_column do
  .form_element_group.publishing
    %h2 Publishing Options
    = f.check_box :published, :label => 'Is Published?'
    = f.check_box :excluded_from_nav, :label => 'Exclude from Navigation?'
  
  .form_element_group
    %h2 W3C Validation
    = link_to 'Check Validation', 'http://validator.w3.org/check?uri=http://'+request.host+@cms_page.full_path, :target => "_new"
      
%h2= @cms_page.new_record? ? "New Page" : "Editing \"#{@cms_page.label}\""
= render :partial => 'cms_admin/flash_message'
= f.error_messages
.form_element_group.vertical
  = f.text_field :label, :id => (@cms_page.new_record? ? "slugify" : nil)
  - unless CmsPage.count == 0 || @cms_page == CmsPage.root
    = f.text_field :slug, :id => 'slug'
  = f.custom_element('&nbsp;', link_to_function('Show more', '', :id => 'more_options'))
.form_element_group.vertical.advanced
  - unless CmsPage.count == 0 || @cms_page == CmsPage.root
    = f.select :parent_id, @cms_page.pages_for_select(nil, 0, true)
  = f.select :redirect_to_page_id, [['---', nil]] + @cms_page.pages_for_select
  = f.select :cms_layout_id, CmsLayout.options_for_select, {}
  :javascript
    page_id = #{@cms_page.new_record? ? 0 : @cms_page.id}
#form_blocks
  = render :partial => 'form_blocks', :locals => {:f => f}
.submit
  = f.submit 'Save All Changes', :id => 'save'
  -# f.submit 'Preview Page', :id => 'preview', :name => 'preview'
  or 
  = link_to 'Return to List', cms_admin_pages_path
