<%= form.select :cms_layout_id, CmsLayout.options_for_select, {}, 'data-page-id' => @cms_page.id.to_i %>
<%= form.text_field :label, :id => 'slugify' %>
<%= form.text_field :slug, :id => 'slug' %>
<%= render :partial => 'form_blocks' %>


<% content_for :right_column do %>
  <h2>Uploads</h2>
  <%= render :partial => 'cms_admin/uploads/index' %>
<% end %>