<%
  cms_page    ||= index_branch
  has_children  = cms_page.children.present?
  has_siblings  = cms_page.siblings.present?
  branch_open   = (session[:cms_page_tree] || []).member?(cms_page.id.to_s) || cms_page.root?
%>

<li id='<%= dom_id(cms_page) %>'>
  <div class='item'>
    <div class='toggle <%= 'open' if branch_open %>'>
      <%=
        if has_children && !cms_page.root?
          link_to span_tag(t('cms.views.pages.toggle')), toggle_branch_cms_admin_page_path(cms_page), :remote => true
        end
      %>
    </div>
    <div class='icon'>
      <% if has_siblings %>
        <div class='dragger'><span><%= t('cms.views.pages.drag') %></span></div>
      <% end %>
    </div>
    <div class='action_links'>
      <%= link_to t('cms.views.pages.add_child_page'), new_cms_admin_page_path(:parent_id => cms_page.id) %>
      <%= link_to t('cms.views.edit'), edit_cms_admin_page_path(cms_page) %>
      <%= link_to t('cms.views.delete'), cms_admin_page_path(cms_page), :method => :delete, :confirm => t('cms.views.are_you_sure') %>
    </div>
    <div class='label'>
      <%= link_to cms_page.label, edit_cms_admin_page_path(cms_page) %>
      <div class='sublabel'>
        <%= link_to cms_page.url, cms_page.full_path, :target => '_blank' %>
      </div>
    </div>
  </div>
  <% if has_children && branch_open %>
    <ul>
      <%= render :partial => 'index_branch', :collection => cms_page.children %>
    </ul>
  <% end %>
</li>
