- page = tree_branch
- children = page.children

%li[page]
  
  - if children.size > 0
    = link_to_toggle(page, children.size)
    
  .item
    .icon{:class => page.published_status}
      - if page.siblings.size > 0 
        .dragger
    
    = link_to page.label, edit_cms_admin_page_path(page), :class => 'label'
    
    %span.action_links
      [
      = link_to_function 'Toggle Details', "", :class => 'details_toggle'
      |
      = link_to 'Add Child Page', new_cms_admin_page_path(:parent_id => page.id)
      |
      = link_to 'Edit', edit_cms_admin_page_path(page)
      |
      = link_to 'Remove', cms_admin_page_path(page), :method => 'delete', :confirm => 'Are you sure you want to remove this page?'
      ]
    
    %br/
    %div.url
      = link_to(page.full_path_with_site, page.full_path_with_site)
      - unless (page.published?)
        (Unpublished)
    
    = render :partial => 'details', :object => page
    
  - if children.size > 0
    %ul{:id => dom_id(page, :children), :class => "sortable #{tree_state(page)}"}
      = render :partial => 'tree_branch', :collection => children