- item ||= nil
- if item.blank?
  - is_checked = false
- else  
  - is_checked = item.cms_categories.collect(&:id).include?(category.id)
  - item_type = item.class.to_s.underscore
  
%li
  - field_name = "#{item_type}[attr_category_ids][#{category.id}]"
  = hidden_field_tag field_name, 0, :id => nil
  .form_element.check_box_element
    .value
      = check_box_tag field_name, 1, is_checked, :onchange => "$.CMS.toggle_category_selections(this)", :id => "cms_category_id_#{category.id}"
      = label_tag "cms_category_id_#{category.id}", category.label
  
  %ul{:id => dom_id(category)}  
    - unless category.children.empty?
      - category.children.each do |sub_category|
        = render :partial => 'cms_admin/categories/category', :locals => {:category => sub_category, :item => item }
