%h2= @cms_category.new_record? ? "New Category" : "Editing \"#{@cms_category.label}\""
= render :partial => 'cms_admin/flash_message'
= f.error_messages

.form_element_group.horizontal
  = f.text_field :label
  = f.text_field :slug, :label => 'slug'
  = f.select :parent_id, [['---', nil]] + CmsCategory.categories_for_select
  = f.text_area :description

  .submit
    = f.submit 'Save All Changes'
    or 
    = link_to 'Return to List', cms_admin_categories_path
