<% type ||= index %>

<div class='categories_widget'>
  
  <div class='label'><%= t('.label') %></div>
  
  <%= link_to t('.edit'), '#', :class => 'action_link edit', 'data-state' => 'edit' %>
  <%= link_to t('.done'), '#', :class => 'action_link done', 'data-state' => 'done', :style => 'display:none' %>
  
  <div class='categories read'>
    <div class='category all <%= (params[:category].blank?? 'active' : nil ) %>'>
      <%= link_to t('.all'), :category => nil %>
    </div>
    <% Cms::Category.of_type(type).each do |category| %>
      <%= render :partial => 'cms_admin/categories/show', :object => category, :locals => { :read => true } %>
    <% end %>
  </div>
  
  <div class='categories editable' style='display:none'>
    <% Cms::Category.of_type(type).each do |category| %>
      <%= render :partial => 'cms_admin/categories/show', :object => category %>
    <% end %>
    <div class='category new'>
      <%= form_for :category, :url => cms_admin_site_categories_path(@site), :remote => true do |form| %>
        <%= form.hidden_field :categorized_type, :value => type %>
        <%= form.text_field :label %>
        <%= form.submit t('.add') %>
      <% end %>
    </div>
  </div>
</div>