<% category ||= index_branch %>

<li id='<%= dom_id(category) %>'>
  <div class='item'>
    <div class='icon published'>
      <div class='dragger'><span><%= t('cms.views.pages.drag') %></span>
      </div>
    </div>
    <div class='action_links'>

      <%= link_to t('.edit'), edit_cms_admin_site_category_path(@site, category,
        :type => collected_type) %>

      <%= link_to t('.delete'), cms_admin_site_category_path(@site, category,:type => collected_type),
        :method => :delete, :data => {:confirm => t('.are_you_sure')} %>

    </div>
    <div class='label'>
      <%= category.label %>
      <div class="sublabel">
        <%= t('.type') %>: <i> <%= category.categorized_type.to_s %> </i>
      </div>
    </div>
  </div>
</li>