#new_category      
  - if defined? @cms_category and @cms_category.errors.present?
    = "Label #{@cms_category.errors[:label]}"
  = text_field :cms_category, :label
  = select :cms_category, :parent_id, [['---', nil]] + CmsCategory.categories_for_select
  = hidden_field_tag 'item_type', item_type
  /= submit_tag "Add Category"
  = tag "input", :type => "button", :value => "Add Category"
  or
  = link_to 'Manage Categories', cms_admin_categories_path
