- category = tree_branch
- children = category.children

%li[category]
  - if children.size > 0
    = link_to_toggle(category, children.size)
  .item
    .icon
      - if category.siblings.size > 0
        .dragger
    = link_to category.label, edit_cms_admin_category_path(category), :class => 'label'

    %span.action_links
      [
      = link_to 'Add Child Category', new_cms_admin_category_path(:parent_id => category.id)
      |
      = link_to 'Edit', edit_cms_admin_category_path(category)
      |
      = link_to 'Remove', cms_admin_category_path(category), :method => 'delete', :confirm => 'Are you sure you want to remove this category?'
      ]

    %br/
    - if category.number_of_records == 0
      Nothing in this category
    - else
      = link_to "#{pluralize(category.number_of_records,'thing')} in this category", cms_admin_category_path(category), :class => 'slug'

  - if children.size > 0
    %ul{:id => dom_id(category, :children), :class => "sortable #{tree_state(category)}"}
      = render :partial => 'tree_branch', :collection => children
