<div class='file <%= dom_id(file) %> <%= file.is_image?? 'image' : nil %>'>
  <% if file.is_image? %>
    <div class='thumb'>
      <%= image_tag file.file.url(:cms_thumb) %>
    </div>
  <% end %>
  <%= link_to file.file_file_name, file.file.url, :target => '_blank', :class => 'filename' %>
  <%= link_to span_tag('x'), cms_admin_site_file_path(@site, file), :method => :delete, :remote => true, :confirm => t('.are_you_sure'), :class => 'delete' %>
</div>