.page-header
  = link_to t('.new_user'), new_cms_admin_user_path, class: 'btn pull-right'
  %h2= t('.title')

%table.table.table-hover.table-bordered
  - @users.each do |user|
    %tr
      %td
        .icon
      %td.main
        .item-title
          = user.email
      %td
        .btn-group
          = link_to t('.edit'), edit_cms_admin_user_path(user), class: 'btn btn-small'
          = link_to t('.delete'), cms_admin_user_path(user), method: 'delete', data: {confirm: t('.are_you_sure')}, class: 'btn btn-small btn-danger'
