//= render 'comfy/admin/cms/partials/translation_form_before', form: form

= form.select :locale, translation_select_options

= form.text_field :label

- if (options = ::Comfy::Cms::Layout.options_for_select(@site)).present?
  = form.select :layout_id, options, {}, {data: {url: form_fragments_comfy_admin_cms_site_page_translation_path(@site, @page, @translation.id.to_i)}, id: "fragments-toggle"}

= render "comfy/admin/cms/pages/form_fragments", record: @translation

.row
  .col-sm-10.ml-auto
    = form.check_box :is_published

//= render 'comfy/admin/cms/partials/translation_form_after', form: form

= form.form_actions do
  = form.submit t(@translation.new_record?? ".create" : ".update"), class: "btn btn-primary"
  = link_to t(".cancel"), edit_comfy_admin_cms_site_page_path(@site, @page), class: "btn btn-link"
