- content_for :right_column do
  - link = comfy_admin_cms_site_page_translation_revisions_path(@site, @page, @translation)
  = render "comfy/admin/cms/revisions/sidebar", record: @translation, link: link
  = render "comfy/admin/cms/translations/sidebar"

.page-header
  %h2= t('.title')

= comfy_form_with model: @translation, scope: :translation, url: {action: :update}, html: {multipart: true} do |form|
  = render form
