- object = form.object
- if (categories = @site.categories.of_type(object.class.to_s)).present?
  = form.form_group label: {text: t('.label')}, class: "categories" do
    - categories.each do |category|
      - name = "#{object.class.to_s.demodulize.underscore.downcase}[category_ids][#{category.id}]"
      = hidden_field_tag name, 0, id: nil
      %label.checkbox-inline
        - name = "#{object.class.to_s.demodulize.underscore.downcase}[category_ids][#{category.id}]"
        = check_box_tag name, 1, object.categories.member?(category), id: nil
        = category.label
