.categories-widget
  %span.btn.btn-sm
    %strong= t('.label')

  %span.categories.read

    %button.toggle-cat-edit.btn.btn-secondary.btn-sm
      = t(".edit")

    .category
      - active_class = params[:categories].blank?? "btn-dark" : "btn-light"
      = link_to t('.all'), {categories: nil}, class: "btn btn-sm #{active_class}"
    - @site.categories.of_type(type).each do |category|
      = render "comfy/admin/cms/categories/show", category: category, read: true

  %span.categories.editable
    - @site.categories.of_type(type).each do |category|
      = render "comfy/admin/cms/categories/show", category: category

    - url = comfy_admin_cms_site_categories_path(@site)
    = form_for :category, url: url, remote: true, html: {id: "new_category"} do |form|
      = form.hidden_field :categorized_type, value: type
      .input-group
        = form.text_field :label, placeholder: t('.add_placeholder'), class: 'form-control form-control-sm'
        .input-group-btn
          %button#cat-add-button.btn.btn-primary.btn-sm
            = t(".add")
          %button.toggle-cat-edit.btn.btn-light.btn-sm
            = t(".done")
