.page-header
  = link_to t('.new_link'), new_comfy_admin_cms_site_layout_path(@site), class: "btn btn-secondary float-right"
  %h2= t('.title')

= comfy_admin_partial "comfy/admin/cms/partials/layouts_before"

%ul.list.sortable
  = render partial: "index_branch", collection: @layouts

= comfy_admin_partial "comfy/admin/cms/partials/layouts_after"