<h1> Revisions for <%= @record.class.to_s.demodulize %></h1>
<h2> <%= @record.is_a?(Cms::Page) ? "Full Path: #{@record.full_path}" : "Slug: #{@record.slug}" %> </h2>

<% content_for :right_column do %>
  <h2><%= pluralize(@record.revisions.count, 'Revision') %></h2>
  <div class='revisions box'>
    <% @record.revisions.each do |revision| %>
      <%= active_link_to revision.created_at, :id => revision.id %>
    <% end %>
  </div>
<% end %>

<%= render :partial => 'revision', :object => @revision %>
