%h2= @cms_layout.new_record? ? "New Layout" : "Editing \"#{@cms_layout.label}\""
= render :partial => 'cms_admin/flash_message'
= f.error_messages
.form_left_column
  .form_element_group.horizontal
    = f.text_field :label, :label => 'Layout Name'
    = f.select :parent_id, @cms_layout.extendable_for_select, :label => 'Parent Layout'
    = f.select :app_layout, CmsLayout.app_layouts_for_select, :label => 'Application Layout'
    = f.text_area :content
.submit
  = f.submit 'Save All Changes'
  or 
  = link_to 'Return to List', cms_admin_layouts_path
