<% layout ||= index_branch %>

<li id='cms_layout_<%= layout.id %>'>
  <div class='item'>
    <div class='icon'></div>
    <div class='action_links'>
      <%= link_to 'Add Child Layout', new_cms_admin_site_layout_path(@site, :parent_id => layout.id) %>
      <%= link_to 'Edit', edit_cms_admin_site_layout_path(@site, layout) %>
      <%= link_to 'Delete', cms_admin_site_layout_path(@site, layout), :method => :delete, :confirm => 'Are you sure?' %>
    </div>
    <div class='label'>
      <%= link_to layout.label, edit_cms_admin_site_layout_path(@site, layout) %>
      <div class='sublabel'>
        <%= link_to layout.slug, edit_cms_admin_site_layout_path(@site, layout) %>
      </div>
    </div>
  </div>
  <% if layout.children.present? %>
    <ul>
      <%= render :partial => 'index_branch', :collection => layout.children %>
    </ul>
  <% end %>
</li>