<% cms_layout ||= index_branch %>

<li id='cms_layout_<%= cms_layout.id %>'>
  <div class='item'>
    <div class='icon'></div>
    <div class='action_links'>
      <%= link_to t('cms.views.layouts.add_child_layout'), new_cms_admin_layout_path(:parent_id => cms_layout.id) %>
      <%= link_to t('cms.views.edit'), edit_cms_admin_layout_path(cms_layout) %>
      <%= link_to t('cms.views.delete'), cms_admin_layout_path(cms_layout), :method => :delete, :confirm => t('cms.views.are_you_sure') %>
    </div>
    <div class='label'>
      <%= link_to cms_layout.label, edit_cms_admin_layout_path(cms_layout) %>
      <div class='sublabel'>
        <%= link_to cms_layout.slug, edit_cms_admin_layout_path(cms_layout) %>
      </div>
    </div>
  </div>
  <% if cms_layout.children.present? %>
    <ul>
      <%= render :partial => 'index_branch', :collection => cms_layout.children %>
    </ul>
  <% end %>
</li>
