<h1> Editing Layout </h1>

<%= cms_form_for @cms_layout, :url => {:action => :update} do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= form.simple_field nil, nil, :class => 'submit_element' do %>
    <%= form.submit 'Update Layout', :disable_builder => true %>
    <%= form.submit 'Update &amp; Edit'.html_safe, :name => "save", :disable_builder => true %>
  <% end %>
<% end %>