<%= link_to span_tag(pluralize(@layout.revisions.count, t('.revision'))), cms_admin_site_layout_revisions_path(@site, @layout), :class => 'big button' %>

<h1><%= t('.title')%></h1>

<% content_for :right_column do %>
  <%= render :partial => 'cms_admin/sites/mirrors', :object => @layout %>
<% end %>

<%= comfy_form_for @layout, :as => :layout, :url => {:action => :update} do |form| %>
  <%= render :partial => 'form', :object => form %>
<% end %>
