- content_for :right_column do
  .box.revisions
    = link_to comfy_admin_cms_site_snippet_revisions_path(@site, @snippet), class: "btn btn-info d-block" do
      = t('.revision', count: @snippet.revisions.count)

.page-header
  %h2= t('.title')

= comfy_form_for @snippet, as: :snippet, url: {action: :update} do |form|
  = render form
