%li[site]
  .item
    .icon
    = link_to site.label, edit_cms_admin_site_path(site), :class => 'label'

    %span.action_links
      [
      = link_to 'Edit', edit_cms_admin_site_path(site)
      |
      = link_to 'Remove', cms_admin_site_path(site), :method => 'delete', :confirm => 'Are you sure you want to remove this site?'
      ]
    .details
      - url = "http://#{site.hostname}/"
      = link_to(h(url), url)