<%= link_to span_tag('Create New Site'), new_cms_admin_site_path, :class => 'big button' %>
<h1>Sites</h1>

<ul class='list'>
  <% @sites.each do |site| %>
    <li id='cms_site_<%= site.id %>'>
      <div class='item'>
        <div class='icon'></div>
        <div class='action_links'>
          <%= link_to 'Edit', edit_cms_admin_site_path(site) %>
          <%= link_to 'Delete', cms_admin_site_path(site), :method => :delete, :confirm => 'Are you sure?' %>
        </div>
        <div class='label'>
          <%= link_to site.label, cms_admin_site_pages_path(site) %>
          <div class='sublabel'>
            <%= link_to "http://#{site.hostname}#{site.path}", "http://#{site.hostname}#{site.path}", :target => '_blank' %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>