<%= link_to span_tag(t('.new_link')), new_cms_admin_site_path, :class => 'big button' %>
<h1><%= t('.title') %></h1>

<ul class='list'>
  <% @sites.each do |site| %>
    <li id='cms_site_<%= site.id %>'>
      <div class='item'>
        <div class='icon'></div>
        <div class='action_links'>
          <%= link_to t('.edit'), edit_cms_admin_site_path(site) %>
          <%= link_to t('.delete'), cms_admin_site_path(site), :method => :delete, :confirm => t('.are_you_sure') %>
        </div>
        <div class='label'>
          <%= link_to site.label, cms_admin_site_pages_path(site) %>
          <div class='sublabel'>
            <%= link_to "http://#{site.hostname}/#{site.path}", "http://#{site.hostname}/#{site.path}", :target => '_blank' %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
