<h1> New Site </h1>

<%= cms_form_for @cms_site, :url => {:action => :create} do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= form.simple_field nil, nil, :class => 'submit_element' do %>
    <%= form.submit 'Create Site', :disable_builder => true %>
    <%= form.submit 'Create &amp; Edit'.html_safe, :name => "save", :disable_builder => true%>
  <% end %>
<% end %>