- content_for :head do
  = javascript_include_tag "comfortable_mexican_sofa/lib/diff"

.page-header
  %h2
    = t('.title')
    = @record.class.to_s.demodulize
  %h4
    = @record.is_a?(::Cms::Page) ? "#{t('.full_path')}: #{@record.full_path}" : "#{t('.slug')}: #{@record.identifier}"

- content_for :right_column do
  .box.revisions
    - @record.revisions.each do |revision|
      = active_link_to l(revision.created_at), :id => revision.id
      


%table.table#revisions
  %tr
    %th Content
    %th{colspan: 2} Changes

  - @current_content.each do |label, content|
    %tbody
      %tr
        %td{rowspan: 3}= ::Cms::Layout.human_attribute_name(label)
        %td.labelize= @revision.created_at.to_s(:long)
        %td.main.original= @versioned_content[label]
      %tr.hide
        %td.labelize= t('.current')
        %td.main.changed= content
      %tr
        %td.labelize= t('.current')
        %td.main.diff
  
= comfy_form_for @revision, :url => {:action => :revert} do |form|
  .form-actions
    = form.submit t('.update'), :class => 'btn btn-primary'