= render 'comfy/admin/cms/partials/file_form_before', :object => form

= form.text_field :label
= form.file_field :file, :multiple => @file.new_record?

- unless @file.new_record?
  = form.form_group t('.current_file') do
    - if @file.is_image?
      .file-image= image_tag @file.file.url 
    = link_to @file.file.url, @file.file.url, :target => '_blank'

= form.text_area :description

= render :partial => 'comfy/admin/cms/categories/form', :object => form

= render 'comfy/admin/cms/partials/file_form_after', :object => form

= form.form_group :class => 'form-actions' do
  = form.submit t(@file.new_record?? '.create' : '.update'), :class => 'btn btn-primary'
