- content_for :right_column do
  = render 'comfy/admin/cms/sites/mirrors'

#cms-uploader
  #cms-uploader-drag-drop-target
  .page-header
    = link_to t('.new_link'), new_comfy_admin_cms_site_file_path(@site), :class => 'btn btn-default pull-right', id: 'cms-uploader-browse'
    %h2= t('.title')

  = render 'comfy/admin/cms/partials/files_before'

  = render :partial => 'comfy/admin/cms/categories/index', :object => 'Comfy::Cms::File'

  = paginate @files, :theme => 'comfy'

  %table.table.table-hover.table-bordered
    %tbody.sortable.cms-uploader-filelist
      = render :partial => 'file', :collection => @files

  = render 'comfy/admin/cms/partials/files_after'

  = paginate @files, :theme => 'comfy'

:javascript
  $(function(){
    window.CMS.uploader($("#cms-uploader"), {
      url: '#{comfy_admin_cms_site_files_path(@site)}',
      multipart_params: {
        '#{request_forgery_protection_token}': '#{form_authenticity_token}',
        '#{Rails.application.config.session_options[:key]}': '#{request.session_options[:id]}'
      }
    });
  });
