<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'layouts/cms_admin_head' %>
    <%= yield :head %>
    <%= cms_hook :html_head %>
  </head>
  <body class='c_<%= params[:controller].idify %> a_<%= params[:action].idify %>'>
    <%= render :partial => 'layouts/cms_admin_body' %>
  </body>
</html>