!!!
%html
  %head
    %title= application_name
    = csrf_meta_tag
    = stylesheet_link_tag 'cms_master'
    = stylesheet_link_tag 'jquery_ui'
    = javascript_include_tag 'cms/jquery', 'cms/jquery-ui', 'cms/cms'
    = javascript_include_tag 'cms/rails'

    - if js_helper_installed?('ckeditor')
      = javascript_include_tag 'ckeditor/ckeditor', 'ckeditor/adapters/jquery', 'cms/rteditor'
    - if js_helper_installed?('codemirror')
      = javascript_include_tag 'codemirror/codemirror', 'cms/codemirror'

    = yield :head
    
  %body{ :id => "#{params[:controller]}_#{params[:action]}".idify }
    .content_wrapper
      .left_column
        .header
          %h1
            = h(application_name)
          = link_to(image_tag(ComfortableMexicanSofa::Config.logo_path), cms_admin_pages_path)
          
        %ul.primary
          - if (ComfortableMexicanSofa::Config.multiple_sites)
            %li= active_link_to 'Sites', cms_admin_sites_path
          %li= active_link_to 'Layouts', cms_admin_layouts_path
          %li= active_link_to 'Pages', cms_admin_pages_path, :active => {:when => [['cms_admin/pages'], %w(index new edit create update)]}
          %li= active_link_to 'Snippets', cms_admin_snippets_path
          %li= active_link_to 'Categories', cms_admin_categories_path
        
        - if (tabs = ComfortableMexicanSofa::Config.extension_tabs)
          %ul.secondary
            - tabs.each do |label, url|
              %li= active_link_to label, url
            
        - unless ComfortableMexicanSofa::Config.additional_cms_tabs.blank?
          %ul.secondary
            - ComfortableMexicanSofa::Config.additional_cms_tabs.each do |label, url|
              %li= active_link_to label, url
      
      .content_column
        .right_column
          = yield :right_column
        .center_column
          = yield
        
      .footer
        = link_to('The Working Group', 'http://twg.ca/', :target => '_twg')
        &copy;
        = [ 2009, Date.today.year ].uniq.join(' - ')
