!!!
%html
  %head
    %title= application_name
    = csrf_meta_tag
    = stylesheet_link_tag :cms
    = javascript_include_tag :cms
    
    = yield :head
    
  %body{ :id => "#{params[:controller]}_#{params[:action]}".idify }
    .content_wrapper
      .left_column
        .header
          %h1
            = h(application_name)
          = link_to(image_tag(ComfortableMexicanSofa::Config.logo_path), cms_admin_pages_path)
          
        %ul.primary
          %li= active_link_to 'Layouts', cms_admin_layouts_path
          %li= active_link_to 'Pages', cms_admin_pages_path, :active => {:when => [['cms_admin/pages'], %w(index new edit create update)]}
          %li= active_link_to 'Snippets', cms_admin_snippets_path
        
        - if (tabs = ComfortableMexicanSofa::Config.extension_tabs)
          %ul.secondary
            - tabs.each do |label, url|
              %li= active_link_to label, url
            
        - unless ComfortableMexicanSofa::Config.additional_cms_tabs.blank?
          %ul.secondary
            - ComfortableMexicanSofa::Config.additional_cms_tabs.each do |label, url|
              %li= active_link_to label, url
      
      .content_column
        .right_column
          = yield :right_column
        .center_column
          = yield
        
      .footer
        = link_to('The Working Group', 'http://twg.ca/', :target => '_twg')
        &copy;
        = [ 2009, Date.today.year ].uniq.join(' - ')
